<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Admin Verification</title>
    <link rel="stylesheet" href="/css/admin_verify.css" />
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>
      <div class="header">
        <div class="left">
          <div class="img"><img src="/images/celestial-trust-network-favicon-white.png" alt=""></div>
          <div class="head_title">
            <h1>Celestial Trust Network</h1>
          </div>
        </div>
        <div class="right">
          <div class="navlink">
            <a href="/">Home</a>
          </div>
          <div class="navlink">
            <a href="/about">About</a>
          </div>
          <div class="navlink">
            <a href="/trustinfo">Projects</a>
          </div>
          <div class="navlink">
            <a href="account.html">Prominent Trusts</a>
          </div>
          
          <div class="navlink">
            <a href="/blog">Blog
            </a>
          </div>
          <div class="navlink">
            <a href="/verifyReportedTrusts">Reported Trusts</a>
          </div>
        </div>
      </div>
        
        </div>
      </div>
    </header>
    
    <div class="content">
      <div class="us_title">
        <p>Verify Trusts</p>
      </div>

      <div class="info_div"><p>Trust verification page for Admins Only</p></div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Trust Id</th>
            <th scope="col">Trust Name</th>
            <th scope="col">Verification Document</th>
            <th>Approve</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <% if(unverified_trusts.length != 0) { %> <%
          unverified_trusts.forEach((trust) => { %>
          <tr>
            <th scope="row" class="trust_id"><%- trust.trust_unique_no %></th>
            <td><%- trust.name %></td>
            <td>
              <a
                href="../public/trust_verify_docs/TOC_END.pdf"
                download="<%- trust.trust_unique_no %>.pdf"
                ><%- trust.trust_unique_no %>_doc</a
              >
            </td>
            <td><a class="verify">Verify</a></td>
          </tr>
          <% }); %> <% }else{ %>
          <tr>
            <td colspan="5">No Donation Work</td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>

    <footer class="footer">
      <div class="positioned_contact">
        <div class="icons">
          <ul class="icon_list">
            <li>
              <a href="#" class="text-white"
                ><i class="fa-brands fa-facebook me-2 fa-1x"></i
            none !important;a>
            </li>
            <li>
              <a href="#" class="text-white"
                ><i class="fa-brands fa-whatsapp mx-2 fa-1x"></i
              ></a>
            </li>
            <li>
              <a href="#" class="text-white"
                ><i class="fa-brands fa-youtube mx-2 fa-1x"></i
              ></a>
            </li>
            <li>
              <a href="#" class="text-white"
                ><i class="fa-brands fa-instagram mx-2 fa-1x"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="container">
        <div class="left_block foot_block">
          <div class="title"><p>Celestial Trust NetWork</p></div>
          <div class="quote">
            <span class="first_line">&#8220;IT'S NOT HOW MUCH WE GIVE</span
            ><br />
            <span class="second_line"
              >BUT HOW MUCH WE PUT INTO GIVING&#8221;</span
            ><br />
            <div class="name">
              <span class="author">--Mother Theresa</span
              ><span class="material-symbols-outlined"> cardiology </span><br />
            </div>
          </div>
        </div>
        <div class="middle foot_block">
          <div class="title"><p>Get In Touch</p></div>
          <div class="footer_form">
            <form action="/footer/news_letter" method="post">
              <label for="news_letter" id="news_letter_label"
                >Subscribe for our NewsLetter</label
              >
              <div class="foot_input">
                <input
                  type="text"
                  placeholder="Name"
                  class="news_letter"
                  name="name"
                  required
                />
              </div>
              <div class="foot_input subs_btn">
                <input
                  type="email"
                  name="news_email"
                  id="news_letter"
                  class="news_letter"
                  placeholder="Email id"
                  required
                /><button type="submit" class="sign-in-btn">Subscribe</button>
              </div>
            </form>
          </div>
        </div>
        <div class="center foot_block">
          <div class="title"><p>Useful Links</p></div>
          <div class="link_list">
            <div><a href="">Terms and Conditions</a></div>
            <div><a href="">Events</a></div>
            <div><a href="">Community</a></div>
            <div><a href="">Your Account</a></div>
            <div><a href="">Support Request</a></div>
          </div>
        </div>
        <div class="last foot_block">
          <div class="title"><p>Address</p></div>
          <div class="add_container">
            <div class="address">Tower House, 24, Homi Mody Street,<br>
              Chennai 400 001, India</div>
              <div class="contact">
                <span class="material-symbols-outlined"> call </span>
                <span>1223-456-7890</span>
              </div>
              <div class="contact">
                <span class="material-symbols-outlined"> Mail </span>
                <span>celestialtrust@ct.com</span>
              </div>
          </div>


        </div>
      </div>
      <div class="copyright">
        <div><pre>CopyRight    <span>&copy;</span>   CelestialTrustNetWork  ,Chennai</pre></div>
      </div>
  </footer>
    <script src="/js/admin_verify.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
