<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/reviews.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700&family=Outfit&family=Petrona:ital,wght@1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <header>
        <div class="header">
           <div class="left">
             <div class="img"><img src="/images/celestial-trust-network-favicon-white.png" alt=""></div>
             <div class="head_title">
               <h1>Celestial Trust Network</h1>
             </div>
           </div>
           <div class="right">
             <div class="navlink">
               <a href="/">Home</a>
             </div>
             <div class="navlink">
               <a href="/about">About</a>
             </div>
             <div class="navlink">
               <a  href="/account">Account</a>
             </div>
             <div class="navlink">
               <a href="/trustinfo">Projects</a>
             </div>
             <div class="navlink">
               <a href="/prominent_trust">Prominent Trusts</a>
             </div>
             
             <div class="navlink">
               <a href="/blog">Blog
               </a>
             </div>
             <div class="navlink">
               <a href="/contribution">Contribution</a>
             </div>
           </div>
         </div>
           
         </div>
         </div>
       </header> 
    <div class="review-center">
        <div class="review-left">
            <form action="/report/<%= name.trust_unique_no %>" method="POST">
                <label for="trustname">Trust Name:</label>
                <input type="text" id="trustname" name="trustname" value="<%- name.name %>"  placeholder="Trust Name" readonly><br>
                <label for="review-name">Name:</label>
                <input type="text" id="report_name" name="report_name" required placeholder="User Name"> <br>
                <label for="review-email">Email:</label>
                <input type="text" id="report_email" name="report_email"  placeholder="User Email"> <br>

                <label for="report_comment">Reason for Report:</label><br>
                <textarea id="report_comment" name="report_comment" rows="4" cols="50" required></textarea><br>

                <button type="submit">Submit Review</button>
            </form>
        </div>
        <div class="review-right">
            <h3 class="review-h3">How your report helps us</h3>
            <p class="review-p"><br>Your review plays a vital role in building trust and confidence among our
                community. By sharing your honest feedback, you're helping others make informed decisions and
                shaping a more transparent marketplace.<br><br> Together, we can create a trusted environment where
                everyone feels confident in their choices. Your voice matters, and we truly appreciate your
                contribution to our shared journey of trust-building.<br><br>
                Thank you for being an integral part of our journey towards building a stronger, more connected
                community based on trust and shared experiences.
                Your feedback is invaluable, and we are deeply grateful for your ongoing support and contribution.
                <br><br>Thank you for taking the time to share your experience with us!<br>
            </p>
        </div>
    </div>
    <footer class="footer">
        <div class="positioned_contact">
          <div class="icons">
            <ul class="icon_list">
              <li>
                <a href="#" class="text-white"><i class="fa-brands fa-facebook me-2 fa-1x"></i none !important;a>
              </li>
              <li>
                <a href="#" class="text-white"><i class="fa-brands fa-whatsapp mx-2 fa-1x"></i></a>
              </li>
              <li>
                <a href="#" class="text-white"><i class="fa-brands fa-youtube mx-2 fa-1x"></i></a>
              </li>
              <li>
                <a href="#" class="text-white"><i class="fa-brands fa-instagram mx-2 fa-1x"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="container">
          <div class="left_block foot_block">
            <div class="title">
              <p>Celestial Trust NetWork</p>
            </div>
            <div class="quote">
              <span class="first_line">&#8220;IT'S NOT HOW MUCH WE GIVE</span><br />
              <span class="second_line">BUT HOW MUCH WE PUT INTO GIVING&#8221;</span><br />
              <div class="name">
                <span class="author">--Mother Theresa</span><span class="material-symbols-outlined"> cardiology
                </span><br />
              </div>
            </div>
          </div>
          <div class="middle foot_block">
            <div class="title">
              <p>Get In Touch</p>
            </div>
            <div class="footer_form">
              <form action="/footer/news_letter" method="post">
                <label for="news_letter" id="news_letter_label">Subscribe for our NewsLetter</label>
                <div class="foot_input">
                  <input type="text" placeholder="Name" class="news_letter" name="name" required />
                </div>
                <div class="foot_input subs_btn">
                  <input type="email" name="news_email" id="news_letter" class="news_letter" placeholder="Email id"
                    required /><button type="submit" class="sign-in-btn">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
          <div class="center foot_block">
            <div class="title">
              <p>Useful Links</p>
            </div>
            <div class="link_list">
              <div><a href="t&c">Terms and Conditions</a></div>
              <div><a href="events">Events</a></div>
              <div><a href="">Community</a></div>
              <div><a href="">Your Account</a></div>
              <div><a href="">Support Request</a></div>
            </div>
          </div>
          <div class="last foot_block">
            <div class="title">
              <p>Address</p>
            </div>
            <div class="add_container">
              <div class="address">Tower House, 24, Homi Mody Street,<br>
                Chennai 400 001, India</div>
              <div class="contact">
                <span class="material-symbols-outlined"> call </span>
                <span>1223-456-7890</span>
              </div>
              <div class="contact">
                <span class="material-symbols-outlined"> Mail </span>
                <span>celestialtrust@ct.com</span>
              </div>
            </div>
    
    
          </div>
        </div>
        <div class="copyright">
          <div>
            <pre>CopyRight    <span>&copy;</span>   CelestialTrustNetWork  ,Chennai</pre>
          </div>
        </div>
      </footer>

</body>

</html>