<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/auth_reset.css" />
  </head>

  <body>
    <div class="pwd">
      <h1>Reset Password</h1>
      <h1></h1>
      <form id="form">
        <label for="email">Enter the Email:</label>
        <input type="email" id="email" name="email" /><br /><br />
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" />
        <br />
        <br />
        <label for="password2">Confirm Password: </label>
        <input type="password" name="password2" id="password2" />
        <br />
        <br />
        <input type="submit" value="reset password" id="btn" class="button" />
      </form>
    </div>
  </body>
  <script src="/js/reset.js"></script>
</html>
