<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/reviews.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700&family=Outfit&family=Petrona:ital,wght@1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <div class="review-center">
        <div class="review-left">
            <form  id="review-form">
                <label for="trustname">Trust Name:</label>
                <input type="text" id="trustname" name="trustname" required placeholder="Trust Name"><br>
                <label for="review-name">Name:</label>
                <input type="text" id="review_name" name="review_name" required placeholder="User Name"> <br>

                <label for="review_rating">Rating:</label>
                <div class="rating">
                    <input type="number" name="review_rating" hidden>
                    <i class='bx bx-star star' style="--i: 0;"></i>
                    <i class='bx bx-star star' style="--i: 1;"></i>
                    <i class='bx bx-star star' style="--i: 2;"></i>
                    <i class='bx bx-star star' style="--i: 3;"></i>
                    <i class='bx bx-star star' style="--i: 4;"></i>
                </div>

                <label for="review_comment">review:</label><br>
                <textarea id="review_comment" name="review_comment" rows="4" cols="50" required></textarea><br>

                <button class="submit-btn">Submit Review</button>
            </form>
        </div>
        <div class="review-right">
            <h3 class="review-h3">How your review helps us</h3>
            <p class="review-p"><br>Your review plays a vital role in building trust and confidence among our
                community. By sharing your honest feedback, you're helping others make informed decisions and
                shaping a more transparent marketplace.<br><br> Together, we can create a trusted environment where
                everyone feels confident in their choices. Your voice matters, and we truly appreciate your
                contribution to our shared journey of trust-building.<br><br>
                Thank you for being an integral part of our journey towards building a stronger, more connected
                community based on trust and shared experiences.
                Your feedback is invaluable, and we are deeply grateful for your ongoing support and contribution.
                <br><br>Thank you for taking the time to share your experience with us!<br>
            </p>
        </div>
    </div>

    <% if(flag === 1) { %>
        <div style="color: green; margin: 80px; font-size: 1.5rem; padding-top: 0px;margin-top: 0;">
            <%= message %>
        </div>
    <% } %>
    <% if(flag === 0) { %>
        <div style="color: red; margin: 80px; font-size: 1.5rem; padding-top: 0px;margin-top: 0;">
            <%= message %>
        </div>
    <% } %>

    <script>
        const allStar = document.querySelectorAll('.rating .star');
        const ratingValue = document.querySelector('.rating input');
        const btn = document.querySelector('.submit-btn');

        allStar.forEach((item, idx) => {
            item.addEventListener('click', function () {
                let click = 0
                ratingValue.value = idx + 1

                allStar.forEach(i => {
                    i.classList.replace('bxs-star', 'bx-star')
                    i.classList.remove('active')
                })
                for (let i = 0; i < allStar.length; i++) {
                    if (i <= idx) {
                        allStar[i].classList.replace('bx-star', 'bxs-star')
                        allStar[i].classList.add('active')
                    } else {
                        allStar[i].style.setProperty('--i', click)
                        click++
                    }
                }
            })
        });

        btn.addEventListener('click', async(e) => {
            e.preventDefault();
            const reviewForm = document.getElementById("review-form");
            const formData = new FormData(reviewForm);
            const res = Object.fromEntries(formData);
            const payload = JSON.stringify(res);

            try {
                console.log('start');
                const response = await fetch('/reviews', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: payload
                });
                console.log(response);
                
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }

                else window.location.reload();

                console.log('Data posted successfully');
            } catch (error) {
                console.error('Error posting data:', error);
            }
        });
    </script>

</body>




</html>