<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyWork</title>
    <link rel="stylesheet" href="./css/trust_contribution.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="head">
      <div class="left">
        <div class="logo">
          <img
            id="logo"
            src="../images/logo.png"
            alt=""
            style="width: 50px; height: 50px; padding-top: 10px"
          />
        </div>

        <div class="title">
          <p>Celestial Trust NetWork</p>
        </div>
      </div>
      <div class="right">
        <div class="navlink">
          <a href="account.html">Home</a>
        </div>
        <div class="navlink">
          <a href="account.html">About</a>
        </div>
        <div class="navlink">
          <a href="account.html">Get Involved</a>
        </div>
        <div class="navlink">
          <a href="account.html">Projects</a>
        </div>
        <div class="navlink">
          <a href="account.html">My Account</a>
        </div>
        <div class="navlink">
          <a href="account.html">Sign in</a>
        </div>
      </div>
    </div>
    <div class="us_title">
      <p class="account_para">Quick Info</p>
    </div>
    <div class="account_info">
      <div class="name info">
        <div>Name</div>
        <div><%= trust.name %></div>
      </div>
      <div class="user_id info">
        <div>Unique Id</div>
        <div><%= trust._id %></div>
      </div>
      <div class="date_joined info">
        <div>Date Joined</div>
        <div>12/12/24</div>
      </div>
      <div class="most_active info">
        <div>Works for</div>
        <div>Children</div>
      </div>
    </div>
    <div class="us_title">
      <p class="account_para">My Contribution</p>
    </div>

    <div class="give_the_date_range">
      <form
        action="/contribution/contribution_date_wise_donation_details"
        method="post"
        class="donation_form"
      >
        <div class="date">
          <div class="date_range">Enter the Date Range</div>
          <div class="main_content">
            <label for="start_date">Enter the Start Date:</label>
            <input type="date" id="start_date" name="start_date" />
            <label for="end_date">Enter the Enter Date:</label>
            <input type="date" id="end_date" name="end_date" />
            <button type="submit" class="btn btn-dark btn-sm" id="donation_btn">
              Show My Contribution
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="project_display_table">
      <table class="display_table">
        <tr class="t_header">
          <th>User Id</th>
          <th>Name</th>
          <th>Date of Donation</th>
          <th>Amount Donated</th>
        </tr>
        <tbody id="tableBody">
          <tr>
            <td>1</td>
            <td><a href="">IK</a></td>
            <td>8-10-23</td>
            <td>10,000</td>
          </tr>
          <tr>
            <td>2</td>
            <td><a href="">ABC Foundation</a></td>
            <td>9-15-23</td>
            <td>15,000</td>
          </tr>
          <tr>
            <td>3</td>
            <td><a href="">Hope for Tomorrow</a></td>
            <td>7-5-23</td>
            <td>5,500</td>
          </tr>
          <tr>
            <td>4</td>
            <td><a href="">Compassion for All</a></td>
            <td>10-2-23</td>
            <td>20,000</td>
          </tr>
          <tr>
            <td>5</td>
            <td><a href="">Dreams Unlimited</a></td>
            <td>6-12-23</td>
            <td>12,500</td>
          </tr>
          <tr>
            <td>6</td>
            <td><a href="">Hearts of Gold</a></td>
            <td>11-8-23</td>
            <td>8,700</td>
          </tr>
          <tr>
            <td>7</td>
            <td><a href="">Charity for All</a></td>
            <td>4-20-23</td>
            <td>17,800</td>
          </tr>
          <tr>
            <td>8</td>
            <td><a href="">Helping Hands</a></td>
            <td>8-30-23</td>
            <td>6,200</td>
          </tr>
          <tr>
            <td>9</td>
            <td><a href="">Unity in Action</a></td>
            <td>5-17-23</td>
            <td>11,300</td>
          </tr>
          <tr>
            <td>10</td>
            <td><a href="">Visionary Foundation</a></td>
            <td>12-3-23</td>
            <td>9,900</td>
          </tr>
          <tr>
            <td>11</td>
            <td><a href="">Brighter Futures</a></td>
            <td>3-28-23</td>
            <td>14,600</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="us_title">
      <p class="account_para">Volunteer Work</p>
    </div>

    <div class="give_the_date_range">
      <form
        action="/contribution/contribution_date_wise_volunteer_work"
        method="post"
        class="volunteer_form"
      >
        <div class="date">
          <div class="date_range">Enter the Date Range</div>
          <div class="main_content">
            <label for="start_date">Enter the Start Date:</label>
            <input type="date" id="start_date" name="start_date" />
            <label for="end_date">Enter the Enter Date:</label>
            <input type="date" id="end_date" name="end_date" />
            <button
              type="submit"
              class="btn btn-dark btn-sm"
              id="volunteer_btn"
            >
              Show My Contribution
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="project_display_table">
      <table class="display_table">
        <tr class="t_header">
          <th>User id</th>
          <th>Name</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>State</th>
        </tr>
        <tbody id="tableBody_volunteer">
          <tr>
            <td>1</td>
            <td><a href="">IK</a></td>
            <td>8-10-23</td>
            <td>10,000</td>
          </tr>
          <tr>
            <td>2</td>
            <td><a href="">ABC Foundation</a></td>
            <td>9-15-23</td>
            <td>15,000</td>
          </tr>
          <tr>
            <td>3</td>
            <td><a href="">Hope for Tomorrow</a></td>
            <td>7-5-23</td>
            <td>5,500</td>
          </tr>
          <tr>
            <td>4</td>
            <td><a href="">Compassion for All</a></td>
            <td>10-2-23</td>
            <td>20,000</td>
          </tr>
          <tr>
            <td>5</td>
            <td><a href="">Dreams Unlimited</a></td>
            <td>6-12-23</td>
            <td>12,500</td>
          </tr>
          <tr>
            <td>6</td>
            <td><a href="">Hearts of Gold</a></td>
            <td>11-8-23</td>
            <td>8,700</td>
          </tr>
          <tr>
            <td>7</td>
            <td><a href="">Charity for All</a></td>
            <td>4-20-23</td>
            <td>17,800</td>
          </tr>
          <tr>
            <td>8</td>
            <td><a href="">Helping Hands</a></td>
            <td>8-30-23</td>
            <td>6,200</td>
          </tr>
          <tr>
            <td>9</td>
            <td><a href="">Unity in Action</a></td>
            <td>5-17-23</td>
            <td>11,300</td>
          </tr>
          <tr>
            <td>10</td>
            <td><a href="">Visionary Foundation</a></td>
            <td>12-3-23</td>
            <td>9,900</td>
          </tr>
          <tr>
            <td>11</td>
            <td><a href="">Brighter Futures</a></td>
            <td>3-28-23</td>
            <td>14,600</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="achievements">
      <div class="top_info">
        <div class="donor_title">
          <h4>Our Donors</h4>
        </div>

        <div class="achieve_title">
          <div>
            <p>
              across 25+ cities support over India <br />800+children Benifitted
              <br />
            </p>
          </div>
        </div>
      </div>
      <div class="side_info">
        <div class="stats">
          <div>
            <span class="material-symbols-outlined"> restaurant </span>
          </div>
          <div class="numbers">
            <p class="reveals-1">200+</p>
            <p>Meals Served Everyday</p>
          </div>
        </div>
        <div class="stats">
          <div>
            <span class="material-symbols-outlined"> woman </span>
          </div>
          <div class="numbers">
            <p class="reveals-2">1000+</p>
            <p>Woman Empowered</p>
          </div>
        </div>
        <div class="stats">
          <div>
            <span class="material-symbols-outlined"> groups </span>
          </div>
          <div class="numbers">
            <p class="reveals-3">2300+</p>
            <p>Children Educated</p>
          </div>
        </div>
        <div class="stats">
          <div>
            <span class="material-symbols-outlined"> personal_injury </span>
          </div>
          <div class="numbers">
            <p class="reveals-4">50+</p>
            <p>Patients Served</p>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./js/contribution.js"></script>
  </body>
</html>
