body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 100px;
}

.review-center {
    display: flex;
    align-items: center;

}


.review-left {
    flex: 1;
}

.review-right {
    flex: 1;
    margin: 50px;

}


.review-p {
    font-size: 24px;
    font-family: "poppins", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    /* Adjust line height for readability */
    color: #333;
    /* Default text color */
    margin: 20px 0;
    /* Add some margin for spacing */
}

.review-h3 {
    font-size: 42px;
    font-family: "poppins", sans-serif;
    font-weight: 600;
    line-height: 1.5;
    /* Adjust line height for readability */
    color: #333;
    /* Default text color */
    margin: 20px 0;
}


form {
    width: 80%;
    margin: 50px;
    margin-left: 80px;
    margin-bottom: 0px;
    padding: 20px;

    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

textarea {
    resize: none;
    height: 250px;

}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

button[type="submit"]:focus {
    outline: none;
    /* Remove default focus outline */
}


/* .rating {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    font-size: 50px;
    gap: 0.25rem;
    color: #FFBD13;
}

.rating .star:hover {
    transform: scale(1.1);
} */



.rating {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	grid-gap: .25rem;
	font-size: 2rem;
	color: #FFBD13;
	margin-bottom: 20px;
}
.rating .star {
	cursor: pointer;
}
.rating .star.active {
	opacity: 0;
	animation: animate .15s calc(var(--i) * .1s) ease-in-out forwards;
}

@keyframes animate {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	50% {
		opacity: 1;
		transform: scale(1.2);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}


.rating .star:hover {
	transform: scale(1.1);
}

::placeholder {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
  }
